				/*Propiedades generales*/
				body{ color:white; font-family:'Century Gothic',sans-serif; font-weight: lighter; text-shadow: 0 1px 1px #000; 
				margin:0%; padding:0%; background-color:yellow;}				
				div{ float:left; }
			
				#divCabecera{ background: linear-gradient(to bottom, #ff0004 26%, #6b0b12 86%); height:15%; width:100%;}
								
				/*Barra de Busqueda */
				#divBuscadorGen{bottom:50%; float:left; position:relative; right:5%; width:100%;}
				#divBuscar{ height:10%; border-color: grey; padding: 7px; margin:10px 0 0 10px;}
				#divSubmit{ cursor: pointer;  margin: 7px 0 0 10px; }
			
				#divCuerpo{ background: linear-gradient(to top, #D8D8D8 100%, #FAFAFA 100%); height:75.1%; width:100%; }
				#divCuerpo p{text-align: justify;}

				/*Propiedades del menú*/
					#divIntMenu{ background: gray; height:auto; margin:1% 0 1%; width:15%; margin-left:0.5%;}
						li{ background: linear-gradient( 90deg, #848484, #000000 50%, #848484); border-bottom: groove black;
						list-style-type:none; margin-bottom: 1%; padding:1% 0 2%; text-align:left; width:100%; }
						ul{ list-style-type:none; margin-bottom: 1%; padding:1% 0 1%; text-align:center;}
						a{ color:white; font-size:20px; text-decoration:none;}
					
					/*Contenido*/
					#divIntContenido { background-color: white; height:95%; margin:10px 0 0 10%; overflow: scroll; width:70%; font-size:12px;}
					#divIntSub1{ background-color:red; font-size:24px; height:35px; padding-top:10px; width:100%;}
					#divIntSub1 label{ margin-left:20px; font-size:24px; text-align:middle;}
					#divIntSub2{ height:100px; width:100%;}
					#divBienvenida{color:black; font-size: 16px; text-align: justify; margin:0 9% 0 8%;}
					
					
					
					/*Contenido de Productos*/
					#divProd {color:black; margin-left:3%; font-size:12px; margin-right:3%; height:310px;}
					#divProdGeneral{background-color:red; font-size:16px; color:white; text-align:center; position:2%; height:30pxpx; width:150px;}
					h3{color:red; margin-left:3%; margin-right:4%;}
					.imagen{height:200px; width: auto;}
					.imagen2{height:auto; width: 200px;}
					#divProd2 {color:black; margin:2% 2% 0 2%; font-size:12px; height:280px;}
					.imagen3{height:auto; width: 200px;}
					
					/*Contenido de Proyecto*/
					#divTutoriales{margin-left: 10%;}
					h2{color: black; margin:6% 0 30px 30px;}
					
					#divtablaContactenos {margin-left:2%;height:200px; width:50%;}
					#divtablaContactenos li{padding-left:30px; background:grey;}
					#divMap{margin:2% 0 0 5%; width:20%;}
					
				/*#divIntSub2 img{margin-left: 50px; height:200px;position: relative; }*/
				#divIntSub2 a{ margin-left: 20px; color:black; font-size:14px; text-decoration:none; }
				
				/*Propiedades del pie de pagina*/
				#divInferior{ font-size:12px;  background: linear-gradient(to bottom, #ff0004 26%, #6b0b12 86%); height:10%; width:100%; margin:0 0 0 0;}
				/*#divInferior label{ margin-left:20%; padding-bottom;0%; top:40%; vertical-align:50%; position:0%;}*/
				
				#divIcomens{position:relative; padding-left;15%; padding-top:20%;}
			
				p {margin-left:4%; margin-right:5%;}
				
				/*Propiedades del menú*/
				.Over{ background: linear-gradient(90deg, #ff0004 26%, #6b0b12 86%); border-bottom: groove black; 
				list-style-type:none; margin-bottom: 1%; padding:2% 0 2%; text-align:left; width:100%; margin-left:1%;}
				.Out{ background: linear-gradient( 90deg, #848484, #000000 50%, #848484); border-bottom: groove gray; 
				list-style-type:none; margin-bottom: 1%; padding:2% 0 2%; text-align:left; width:100%; margin-left:1%;}
				
				/*Propiedades del submenú-Productos*/
				#ListProd {display:none;}				
				.subMenu{background: gray; border-bottom:groove grey; text-align:center; width:100%; text-align:left;}
				.subMenuact{background:red; border-bottom:groove black; text-align:center; width:100%; text-align:left;}
			
			
			
			
			